
.div1 {
    align-content: center;
    font-weight: bold;
    color: white;
    border: solid 2px black;
    background: linear-gradient(45deg, black, grey);
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
}

img{
    width: 150px;
    border-radius: 100%;
    float: left;
    margin: 20px;
    border: solid 2px darkGrey;
    display: block;
}

body {
    align-content: center;
}